<%- include("templates/header") %>

<div style="text-align: center;">
  <a href="/signup"><button>Sign Up</button></a>
  <br>
  <a href="/login"><button>Login</button></a>
</div>

<%- include("templates/footer") %>
