<%- include ("templates/header") %>
<h1>Hello, <%= username %></h1>
<a href="/groups"><button>Go to Groups</button></a>

<a href="/logout"><button>Logout</button></a>
<%- include ("templates/footer") %>

